map_sra_to_ontology/predict_sample_type/backup/*
map_sra_to_ontology/obo/*
map_sra_to_ontology/LEX/*
analysis_data/term_mapping/*
map_sra_to_ontology/metadata/cellline_to_disease_implied_terms.json
map_sra_to_ontology/metadata/term_to_superterm_linked_terms.json
map_sra_to_ontology/fuzzy_matching_index/*
map_sra_to_ontology/ont_prefix_to_filename.json
setup_map_sra_to_ontology/term_to_linked_terms.json
pipeline_preparations.dill
pipeline_init.dill
pipeline_init_debug.dill
pipeline_init_plant.dill
*.pickle
*.bak
*.bak2
*.pyc
*~